@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overscroll-behavior: none;
  width: 100%;
  min-height: 100vh;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
button {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
